// styles.module.scss

.container {
  flex: 1;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color: #121212;
  color: #ffffff;
  max-width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}

.pattern,
.antipattern {
  flex: 1;
  background-color: #1e1e1e;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  border: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pattern h2,
.antipattern h2 {
  margin: 0;
  font-size: 1.5rem;
  border-bottom: 1px solid #2a2a2a;
  padding-bottom: 0.5rem;
  color: #bbbbbb;
}

.patternContent,
.antipatternContent {
  > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
